    <div align="center" class="footer">
    <center>
        <ul>
            <li><a href="https://github.com/uonai"><img src="/images/github.svg" width="35px" style="opacity:0.35"></a></li>
            <li><a href="https://twitter.com/uonaiii"><img src="/images/twitter.svg" width="35px" style="opacity:0.35"></a></li>
            <li><a href="http://webring.xxiivv.com/"><img src="/images/icon.white.svg" width="40px" style="opacity:0.35"></a></li>
        </ul>
    </center>
    </div>
  </body>
</html>

